@import url(./__title/saved-news__title.css);
@import url(./__amount/saved-news__amount.css);
@import url(./__key-words/saved-news__key-words.css);

.saved-news{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
}