.root{
  max-width: 1440px;
  margin: auto;
  line-height: normal;
  color: #FFFFFF;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}