.popup__button {
  width: 100%;
  height: 65px;
  margin-top: 5px;
  color: #B6BCBF;
  opacity: 0.8;
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-color: #E6E8EB;
  border-radius: 50px;
}
