.header__link_type_border{
  border: 1px white solid;
  border-radius: 50px;
  height: 45px;
  width: 159px;
  padding: 0 9px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  display: none;

}


@media (max-width: 1000px){
	.header__link_type_border{
    height: 40px;
    width: 133px;
	}
}

@media (max-width: 500px){
	.header__link_type_border{
    height: 56px;
    width: 288px;
    margin: 0 auto;

	}
}
