.header__link_type_underline{
  border-bottom: 3px solid white;
  border-top: 3px solid transparent;
  box-sizing: border-box;
  /* display: none; */
  
}


@media (max-width: 500px){
	.header__link_type_underline{
    border: none;
		
	}
}