.author__text{
  margin: 20px 0 0px;
  font-family: 'roboto'; 
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}


@media (max-width: 1000px){
	.author__text{
    margin: 12px 0 0px;
  }
}
