.news-card__text{
  margin: 16px 0 0;
  font-family: 'roboto'; 
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  

}

@media (max-width: 1000px){
	.news-card__text{
    max-height: 88px;
    
    margin: 8px 0 0;
	}
}
