.author__photo{
  border-radius: 50%;
  max-height: 464px;
  max-width: 464px;
  background-size: cover;
  background-position: center;
  margin: auto 0;
}

@media (max-width: 1000px){
	.author__photo{
    max-height: 232px;
    max-width: 232px;
	}
}


@media (max-width: 870px){
	.author__photo{
    max-height: 272px;
    max-width: 272px;
    margin-bottom: 24px;
	}
}
