@import url(../header.css/__logo/header__logo.css);
@import url(../header.css/__menu/header__menu.css);
@import url(../header.css/__link/header__link.css);
@import url(../header.css/__navigation/header__navigation.css);
@import url(../header.css/__link/_type/header__link_type_underline.css);
@import url(../header.css/__link/_type/header__link_type_border.css);
@import url(../header.css/__link/_type/header__link_type_saved-articles.css);
@import url(../header.css/__link/_type/header__link_type_user.css);
@import url(../header.css/__link/_is-opened/header__link_is-opened.css);
@import url(../header.css/__user-icon/header__user-icon.css);
@import url(../header.css/__mobile-menu/header__mobile-menu.css);
@import url(../header.css/_type/header_type_menu-open.css);
@import url(../header.css/__navigation/_type/header__navigation_type_menu-open.css);
@import url(../header.css/__mobile-menu/_type/header__mobile-menu_type_saved.css);



.header{
  margin: 0 auto;
  max-width: 1440px;
  min-height: 80px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

@media (max-width: 1000px){
	.header{
		min-height: 64px;
	}
}


