@import url(./__container/author__container.css);
@import url(./__photo/author__photo.css);
@import url(./__column-text/author__column-text.css);
@import url(./__column-photo/author__column-photo.css);
@import url(./__text/author__text.css);



.author{
  width: 100%;
  min-height: 624px;
  display: flex;
  color: black;
  /* display: none;   */
}

@media (max-width: 1000px){
	.author{
    min-height: 354px;
	}
}


@media (max-width: 600px){
	.author{
    flex-direction: column;
    align-items: center;
    min-height: 650px;
	}
}



@media (max-width: 380px){
	.author{
    min-height: 752px;
	}
}
