.search__title{
	max-width: 608px;
  font-family: 'roboto-slab';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  text-align: left;
  margin: 0 auto;
  font-weight: 400;

}

@media (max-width: 1000px){
	.search__title{
    max-width: 300px;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
	}
}