@import url(./__logo-saved/header__logo-saved.css);
@import url(./__link_type/header__link_type_underline_saved.css);
@import url(./__link_type/header__link_type_saved-articles_saved.css);
@import url(./__link_type/header__link_type_user_saved.css);

.header-saved{
  border-bottom: 1px solid #D1D2D6;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 80px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
};
