.header__mobile-menu{
  display: none;
}


@media (max-width: 500px){
	.header__mobile-menu{
		background: url(../../../images/menu.svg) no-repeat center;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    width: 24px;
    height: 24px;
    margin: auto 16px;
    cursor: pointer;
    outline: none;
    display: block;

  }
  
  .header__mobile-menu_open{
    background: url(../../../images/back.svg) no-repeat center;
    
  }

}