.header__logo-saved{
  font-family: 'roboto-slab'; 
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  max-width: 200px;
  margin: auto 0 auto 104px;
  color: black;
}


@media (max-width: 1000px){
	.header__logo-saved{
		margin: auto 0 auto 40px;
	}
}

@media (max-width: 550px){
	.header__logo-saved{
		margin: auto 2px ;
	}
}

@media (max-width: 500px){
	.header__logo-saved{
    margin: auto 0 auto 16px;
    font-size: 16px;
	}
}