@import url(./__container/search__container.css);
@import url(./__img/search__img.css);
@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__input-block/search__input-block.css);
@import url(./__box/serch__box.css);
@import url(./__button/serch__button.css);

.search{
  display:flex;
  flex-direction: column;
  margin: 0;
  height: 496px;
  max-width: 1440px;
  position: relative;
  /* display: none; */
}


@media (max-width: 1000px){
	.search{
		height: 334px;
	}
}

@media (max-width: 500px){
	.search{
		height: 480px;
	}
}
