.results__title{
  text-align: center;
  font-family: 'roboto-slab';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 20px auto 0 auto;
  color: #1A1B22;
}


