.news-card__bookmark-icon{
  background: url(../../../images/Rectangle-white.jpg) no-repeat center;
  background-color: white;
  border-radius: 7px;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

}

.news-card__bookmark-icon_added{
  background: url(../../../images/Rectangle-blue.jpg) no-repeat center;
  background-color: white;
}

.news-card__bookmark-icon:hover{
  background: url(../../../images/Rectangle-hover.jpg) no-repeat center;
  background-color: white;
}

