.footer__column_extraspace{
  margin-left: 50px;
}

@media (max-width: 1000px){
	.footer__column_extraspace{
    margin-left: 0;
	}
}

@media (max-width: 450px){
	.footer__column_extraspace{
    margin-top: -10px;
    
	}
}