.results__text{
  max-width: 340px;
  text-align: center;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 24px auto 0 auto;
  color: #B6BCBF;
}
