.header__link{
  margin-left: 32px;
  height: 100%;
  display: flex;
  font-family:'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 1;  
}


@media (max-width: 1000px){
	.header__link{
    font-size: 16px;
    margin-left: 16px;
	}
}

@media (max-width: 500px){
	.header__link{
    font-size: 18px;
		
	}
}