.saved-news__key-words{
  margin: 29px 0 57px 105px;
  font-family: 'roboto'; 
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

}


@media (max-width: 1000px){
	.saved-news__key-words{
    margin: 16px 0 32px 40px;
    font-size: 14px;
    line-height: 24px;
	}
}

@media (max-width: 487px){
	.saved-news__key-words{
    margin: 16px 16px 32px 16px;
    font-size: 18px;
    line-height: 24px;
	}
}
