.news-card__title{
  margin: 13px 0 0;
  font-family: 'roboto-slab'; 
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@media (max-width: 1000px){
	.news-card__title{
    margin: 13px 0 0;
    font-size: 22px;
    line-height: 24px;

	}
}

